# Environnement virtuel
venv/
.env
# Dossier générés
label_cache.json
labels_output_clean.json

# Points de reprise / checkpoints
.checkpoint

# Fichiers de logs (si générés)
*.log

# Build / caches Python
__pycache__/
*.py[cod]
*.pyo

# Données brutes ou intermédiaires
data/

# Configuration locale de l’IDE
.vscode/
.idea/
